<div id="header">
    {{#if user}}
    <h2>Ahoy there, {{user.username}} <br>
        click an icon below to see all listings
    </h2>
    <a href="/locations/add" id="add-marker"><button>ADD</button></a>
    <a href="/logout"><button>LOGOUT</button></a>
    {{else}}
    <h2><a href="/user/login">LOGIN</a> or <a href="/user/signup">SIGN UP</a> to add your own listings</h2>
    {{/if}}
    <a href="/"><button>MAP</button></a>
    {{!-- <a href="/"><button>MAP</button></a> --}}
</div>



<div class="container">
    <div class="locationCard-stevo">
        <img src="../images/steveo.png" alt="">
        <h1>WES ANDERSON COLLECTION</h1>
    </div>
    {{#each locationList}}
    <div class="locationCard">
        <a href="/locations/{{_id}}">

            {{!-- //M changes: remove all IF's and line 21: <img src="{{imgPath}}" alt=""> --}}
            {{#if imgPath}}
            <img src="{{imgPath}}" alt="">
            {{/if}}
            {{#if image}}
            <img src="../{{image}}" alt=""> {{!-- KEEP THIS LINE --}}
            {{/if}}
            {{!-- END OF //M --}}
            <h3>{{placeName}}</h3>
            <h5>{{located}}</h5>
            <h6>{{builtData}} </h6>
        </a>
        <p> {{description}} </p>
    </div>
    {{/each}}

</div>