<h1>this will be a list of locations</h1>
<div class="contain">
    {{#each locationList}}
    <div class="locationCard">
        <a href="/locations/{{_id}}">
            {{!-- <div id="locationImage"> --}}
            <img src="{{image}}" alt="">
            {{!-- </div> --}}
            <h4>{{placeName}}</h4>
            <p> {{located}} </p>
            <p> {{description}} </p>
        </a>
    </div>
    {{/each}}

</div>