<div id="header">
    {{#if user}}
    <h2>Ahoy there, {{user.username}} <br>
        click an icon below to see all listings
    </h2>
    <a href="/locations/add" id="add-marker"><button>ADD</button></a>
    <a href="/logout"><button>LOGOUT</button></a>
    {{else}}
    <h2><a href="/user/login">LOGIN</a> or <a href="/user/signup">SIGN UP</a> to add your own listings
    </h2>
    {{/if}}
    <a href="/locations"><button>LOCATIONS</button></a>
    {{!-- <a href="/"><button>MAP</button></a> --}}
</div>


<div class="container">
    {{!-- <div id="locationImage"> --}}
    {{!-- </div> --}}
    {{!-- //M changes: remove all IF's and line 21: <img src="{{imgPath}}" alt=""> --}}
    {{#if imgPath}}
    <img src="{{imgPath}}" alt="">
    {{/if}}
    {{#if image}}
    <img src="../{{image}}" alt=""> {{!-- KEEP THIS LINE --}}
    {{/if}}
    {{!-- END OF //M --}}
    <div class="locationCard-solo">
        <h1> {{placeName}} </h1>

        <h4>{{placeName}}</h4>
        <a href="/">
            <button> {{located}} </button>
        </a>
        <p> {{description}} </p>
    </div>