<div class="container">
    {{!-- <div id="locationImage"> --}}
    {{!-- </div> --}}
    <img src="../{{this.image}}" alt="">

    <div class="locationCard-solo">
        <h1> {{placeName}} </h1>

        <h4>{{placeName}}</h4>
        <a href="/">
            <button> {{located}} </button>
        </a>
        <p> {{description}} </p>
    </div>