<h1>test</h1>

<div class="contain">
    <div class="locationCard">
        <a href="/locations/{{_id}}">
            {{!-- <div id="locationImage"> --}}
            <img src="{{image}}" alt="">
            {{!-- </div> --}}
            <h4>{{placeName}}</h4>
            <p> {{located}} </p>
            <p> {{description}} </p>
            <a href="/locations/edit/{{this._id}}" class="edit-button">EDIT</a>
        </a>
    </div>

</div>